.edit {
	display: inline-block;
	margin-top: 1rem;
	background-color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	border-collapse: collapse;
}

.edit tr:first-of-type td {
	padding: .2em .35em;
	font-size: 90%;
	color: #666;
	background: #f8f8f8;
}

.edit td {
	padding: 0;
	border: 1px solid #ccc;
}
.edit td > input {
	margin: 0;
	border-color: transparent;
	border-radius: 0;
}
.edit td > input:hover {
	background-color: #e7e7e7;
}
.edit td > input:focus {
	border-color: #c0392b;
}

.edit-choice-summary {
	color: #18AB36;
}
