.edit {
	display: inline-block;
	margin-top: 1rem;
	background-color: #f8f8f8;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	border-collapse: collapse;
}

.edit tr:first-of-type td {
	padding-top: .2em;
	padding-bottom: .2em;
}

.edit td {
	padding: 0;
	border: 1px solid #ccc;
}
.edit td > input {
	margin: 0;
	border-color: transparent;
	border-radius: 0;
}
.edit td > input:hover {
	background-color: #e7e7e7;
}
.edit td > input:focus {
	border-color: #c0392b;
}
