form {
	margin: 1rem 0;
}

label {
	display: block;
	margin: 1rem 0;
	font-size: 90%;
	text-align: left;
}
label input {
	margin-top: .3rem;
	font-size: 97%;
}

input {
	padding: .3em .5em;
	display: block;
	width: 100%;
	max-width: 30em;
	box-sizing: border-box;
	font-size: 97%;
	border: 2px solid #888;
	border-radius: .2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:focus {
	border-color: #b0291b;
	outline: none;
}

input[type="submit"] {
	display: inline-block;
	min-width: auto;
	width: auto;
	margin: 0;
	padding: .4em;
	line-height: 1;
	color: white;
	background-color: #c0392b;
	border: none;
	border-radius: .2em;
	cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:focus {
	text-decoration: none;
	/*background-color: #3990c9;*/
	background-color: #d0493b;
}
input[type="submit"]:active {
	/*background-color: #1970a9;*/
	background-color: #b0291b;
}

a.button {
	display: inline-block;
	margin: 1rem 0;
	padding: .4em;
	line-height: 1;
	color: white;
	background-color: #c0392b;
	border-radius: .2em;
	font-size: 97%;
	cursor: pointer;
}
a.button:hover, a.button:focus {
	text-decoration: none;
	background-color: #d0493b;
}
a.button:active {
	background-color: #b0291b;
}

input[type="checkbox"] {
	position: relative;
	width: 1.8em;
	max-width: none;
	height: 1.6em;
	padding: 0;
	cursor: pointer;
	background-color: #fff;
}
input[type="checkbox"]:active, input[type="checkbox"]:focus {
	border-color: #666;
}
input[type="checkbox"]::before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	text-align: center;
	line-height: 1.5em;
	font-size: 90%;
	text-indent: -.2em;
}
input[type="checkbox"]:checked::before {
	/* todo: use an SVG icon */
	content: '✔︎';
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
a.button.disabled,
a.button.disabled:hover,
a.button.disabled:active {
	background-color: #888;
	cursor: not-allowed;
}

.three-states-checkbox {
	display: inline-block;
}
.three-states-checkbox.maybe input[type="checkbox"] {
	border-color: #e1b400;
}
.three-states-checkbox.maybe input[type="checkbox"]::before {
	/* todo: use an SVG icon */
	content: '(✔︎)︎';
	color: #e1b400;
}
